
<nav class = 'navbar'>
<ul>
<%if current_user.present?%>
<li class = 'nav_link'><%= link_to 'Home', root_path %></li>
<%else%>
<li class = 'nav_link'><%= link_to 'Login', new_user_session_path %></li>
<li class = 'nav_link'><%= link_to 'Sign-up', new_user_registration_path %></li>
<%end%>

<% if current_user.present?%>
<li class = 'nav_link'><%= link_to 'Food List', foods_path %></li>
<li class = 'nav_link'><%= link_to 'Recipes List', recipes_path %></li>
<li class = 'nav_link'><%= link_to 'Shopping List', shopping_lists_path %></li>
<li style="display: flex; justify-content: flex-end; margin-right: 50px;">
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
</;>
<%end%>
</ul>
</nav>
