<div class="recipe_form_container">
  <%= form_for @recipe_food, url: recipe_recipe_foods_path(@recipe), method: :post, html: { class: 'recipe_form' } do |f| %>
    <%= f.label :quantity, class: "form_field_label" %>
    <%= f.text_field :quantity, class: 'form_field', required: true %>
    <%= f.label :food, class: "form_field_label" %>
    <%= f.collection_select :food_id, @remaining_foods, :id, :name, include_blank: true, class: 'form_field', required: true %>
    <%= f.submit "Submit", class: "recipe_form_submit_btn" %>
  <% end %>
</div>